.contenedor{
    height: 120px; 
    background-color: rgb(88, 85, 85);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 500px 100px

}
.container{
    max-width: 1400px;
    margin: 0;
}

.logo1{
grid-column: 1/2;
border: 2px solid black;
width: 120px;
height: 120px;
margin: 0;
padding: 0;
}

.logo2{
grid-column: 6/7;
border: 2px solid black;
width: 120px;
height: 120px;
}


.titulo{
    grid-column: 2/6;
    text-align: center;
    background-color: red;
    margin: 0;
    width: auto;
}
.box2{
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
}
main{
    
    grid-column: 2/4;
    border: 2px solid black;

}
.formulario{
    height: 500px;
    grid-column: 1/2;
    border: 2px solid black;
}
.box3{
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;            
}