*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
   } 

   body{
    background-color: rgb(214, 209, 209);
   }
   main{
    margin: auto;
    overflow:auto;
    background-image:url(../imagenes/mejorfrenteprimaria.jpeg);
    background-size: cover;
    background-position: center center;
    padding: 15px;
    
}
main h2{
    padding-top: 15px;
    color: red;
    text-shadow: 2px 2px 5px yellow;
}
main p{
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px yellow;;
    
}
i{
    font-size: 1.5em;
}

.contenedor{
   /* height: 120px; */
    background-color:rgba(236, 16, 16, 0.836);
    display: grid;
    flex-direction:column ; 
    align-items: center;
    grid-template-columns: 80px 1fr 80px  ;
    justify-content: space-between;
   /* grid-template-rows: 120px 500px 100px*/

}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
#nuestra-historia .container{
    text-align: center;
    padding: 80px 15px;
   
}

.logo1{
grid-column: 1/2;
border: 2px solid black;
/*width: 120px;
height: 120px;*/
margin: 0;
padding: 0;
}
.titulo{
    grid-column: 2/3;
    text-align: center;
    font-size: 1em;
    /*padding-top: 20px;*/
    background-color: rgba(236, 16, 16, 0.836);
    margin: 0;
    text-shadow: 5px 5px 5px black;
    
}

.logo2{
grid-column: 3/4;
border: 2px solid black;


}

.box2{
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
}
main{
    
    grid-column: 1/3;
    border: 2px solid black;
    max-height: 350px;

}
aside{
    grid-column: 3/4;
    background-color: khaki;
}
.box-aside{
    text-align: center;
    margin:0;
    background-color:khaki
}
.box-aside h3{
    padding-top: 20px;
}


.box3{
    display: grid;
    grid-template-columns:1fr ;
    background-color:grey

     
}
.box-footer{
    text-align: center;
    background-color: rgb(214, 209, 209);

}
.boton-volver a{
    display: block;
    text-decoration: none;
    border-radius: 5em;
    background-color: cornflowerblue;
    width: 120px;
    color: black;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 20px;
    
}

p::first-letter{
    color: red;
    font-size: 25px;
}

@media(min-width:750px){
    header{
        /*position: fixed;*/
        width: 100%;
    }

    .box-carrusel{
        width: 60%;
        margin: 0 auto;
        
    }
}