body{
    margin: 0%;
    font-family: roboto;
}
html{
    scroll-behavior: border-box;
}
*{
    box-sizing: border-box;
}
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;
    text-shadow: 2px 2px 5px yellow;
}
p{font-size: 1.3em;}
ul{list-style: none;}


#niveles a{
    display: block;
    width: 80px;
    background-color: red;
    color: yellow;
    border-radius:10px ;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 3px 3px 10px black;
}
#niveles a:hover{
    background-color: rgb(238, 215, 9);
    box-shadow: 2px 2px 10px  red;
    color: black;
}

.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color:rgba(169, 169, 169, 0.788)

}
header .logo{
    margin: 0;
    font-weight: bold;
    font-size: 1.6em;
    /*padding: 25px 30px;*/
    color:red

}

header .container{
display: flex;
flex-direction: column;
align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom:25px ;

}
/*caracterizando opciones de barra de navegacion*/
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/*cambiando de color los menues al apoyarse*/
header a:hover{
    text-shadow: 2px 2px 5px yellow;
    color:red
    
}


#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    background-image:url(../imagenes/mejorfrenteprimaria.jpeg)

    

}
#titulo h1{
    color: white;
    text-shadow: 2px 2px 5px red;
}
#titulo button{
font-size:  1.75em; ;
}


.color-acento{
    color: rgb(226, 43, 43);
}
#video{
    padding: 50px;
    text-align: center;
    background-color: darkgray;

    
}
#video:hover{
    border-color: red;
    background-color: cornflowerblue;
}

.box-video{
    width: 200px;
    height: 200px;
}


#nuestra-historia .container{
    text-align: center;
    padding: 200px 12px;
}
#niveles{
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    text-align: center;
}
#niveles h2{
    margin-top: 0;
    font-size: 3em;
}

#niveles .container{
    padding: 100px 0px;
}

#niveles p{
    display: none;
}

#niveles .carta{
padding: 50px;
margin: 12px;
border-radius: 15px;
background-position: center center;
background-size: cover;
}


.carta:first-child{
background-image:url(../imagenes/frentejardin1.jpeg);

}
.carta:nth-child(2){
background-image:url(../imagenes/mejorfrenteprimaria.jpeg);

}

.carta:nth-child(3){
background-image:url(../imagenes/frentesecundaria.jpeg);

} 

.programas{

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;

}
#caracteristicas li{
    margin: 12px 0px;
    font-weight: bold; 
    text-decoration: none;
}
#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 80vh;
}
#final button{
    font-size: 1em;

}


footer{
    background-color: rgb(230 230 230);
}

footer p{
    margin: 0;
    color:black
}

footer .container{
height: 150px;
display: flex;
justify-content: center;
align-items: flex-end;

}

@media(min-width:750px){
    header .container{
        flex-direction: row;  
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-right: 0;
        padding-right: 20px;
        font-size: 30px;
        padding-top: 20px;
        
    }
/*mantener fijo el header*/

    header{
    position: fixed;
    width: 100%;
}
#video{
    margin: 0 auto;
    padding-top: 40px;
    border: 3px solid yellow;
    
}


/*divido la seccion en 2para poner el logo de un lado y la imagen de otro*/
    #nuestra-historia .container{
      display: flex;
      justify-content: center;

    }
/*pongo la imagen en el contenedor*/
    #nuestra-historia .img-container{
        background-image: url(../imagenes/logoescuela.jpg);
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 300px;
        
    }

    #nuestra-historia .texto-imagen{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

}






























